.container {
    margin-bottom: 8px;
}

.firstrow {
    width: max-content;
    justify-content: space-between;

}

.container input {

    margin-left: 10px;
    margin-bottom: 5px;
    height: 50px;
    width: max-content;
    padding-left: 15px;
  
    color: #FA3701;
    font-family: "rift-soft", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: large;
    text-align: left;

    font-family: 'nunito-sans', sans-serif;
    font-weight: 700;
    font-style: normal;
  
  
    background-color: #FCF6EA;
    border: 4px #FA3701 solid;
    border-radius: 15px;
}

.container button {
    margin-left: 5px;
    height: 60px;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    
    color: #FA3701;
    font-family: "rift-soft", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
    text-align: left;
    
    background-color: #FCF6EA;
    border: 4px #FA3701 solid;
    border-radius: 15px;

   
}

.secondrow :nth-child(2) {
    margin-left: 5px;
}

@media (max-width: 700px) {

    .secondrow :nth-child(2) {
        margin-left: 10px;
    }
  }
