label, p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: small;
}

label {
  display: block;
  padding-left: 15px;
  padding-bottom: 5px;
  margin: auto;
  box-sizing: border-box;
}


input[type=text], input[type=password] {
  display: block;
  margin: auto;
  margin-bottom: 30px;
  width:90%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
}