.container h1 {
  font-weight: 600;
  margin: 30px;
  margin-top: 10px;
  line-height: 1.1;
  color: #FA3701;
}

.bottombar {
  display: flex;
  width: max-content;
}

.bottombar > div {
  display: flex;
  align-items: center;

  margin: 20px;
  padding: 20px;
  width: 800px;

  background-color: #FCF6EA;
  border: 4px #FA3701 solid;
  border-radius: 15px;
  box-shadow: 8px -8px 0px #FA3701;

  font-family: "rift-soft", sans-serif;
  font-weight: 500;

  line-height: 1;
}

.fact {
  width: 100%;
  display: flex;
  font-size: xx-large;
  flex-direction: column;
  line-height: 1.3;
}


.fact :nth-child(1) {
  color: #FA3701;
  font-weight: 600;
}

.fact :nth-child(2) {
  color: rgb(255, 168, 38);

  padding-top: 10px;
  font-size: x-large;
}
 
.bottombar button {
  margin: 20px;
  height: 140px;
  width: 120px;

  background-color: #FCF6EA;
  border: 4px #FA3701 solid;
  border-radius: 15px;
  box-shadow: 8px -8px 0px #FA3701;
}

.bottombar button img {
  pointer-events: none;

}

.bottombar button:hover {
  animation: diagonal-motion 0.1s steps(10);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bottombar button:not(focus) {
  animation: diagonal-motion-blur 0.1s steps(10);
  outline: none;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.bottombar input {
  margin: 0;
  padding: 0;
  height: 40px;
  appearance: none;
  border: none;
  outline: none;
  background: none;

  font-family: "rift-soft", sans-serif;
  font-weight: 600;
  font-size: xx-large;

  color: #FA3701;
  width: 800px;
  overflow-x: scroll;
}

.bottombar input::placeholder {
  color: #fa3701af;
}

.cta {
  font-family: 'nunito-sans', sans-serif;
  font-weight: 700;
  font-size: x-large;

  position: absolute;
  color: #FA3701;

  font-size: x-large;
  bottom: -5%;
}

.cta span {
  color: rgb(255, 168, 38);
}


@keyframes diagonal-motion {
  0% {
    transform: translate(0, 0);

  }
  100% {
    transform: translate(8px, -8px);  
    box-shadow: 0px 0px 0px #FA3701;

  }
}

  
@keyframes diagonal-motion-blur {
  100% {
    transform: translate(0, 0);

  }
  0% {
    transform: translate(8px, -8px);  
    box-shadow: 0px 0px 0px #FA3701;

  }
}