.dropdown * {
    box-sizing: border-box;
}

.dropdown {
    min-width: 20rem;
    position: absolute;
    margin: 1rem;
    background: #96b6ff;
    transition: background 0.3s;
    color: rgb(247, 247, 247);
    border-radius: 0.5rem;
    margin-left: 2rem;
    padding-bottom: 1rem;
    z-index: 1;
}

.container {
    margin-top: 1rem;
}

.submit {
    display: block;
    margin: auto;
    background-color: #292929;
    color: white;
    padding: 14px 20px;
    border: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    width: 90%;
}