/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@import url("https://use.typekit.net/lhp5bgl.css");

.page_main__GlU4n {
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "rift-soft", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;

  max-width: calc(100dvw - 1rem);

}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/ProfilePanel.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.ProfilePanel_container__vYuzq {
    margin-bottom: 8px;
}

.ProfilePanel_firstrow__RxS2o {
    width: max-content;
    justify-content: space-between;

}

.ProfilePanel_container__vYuzq input {

    margin-left: 10px;
    margin-bottom: 5px;
    height: 50px;
    width: max-content;
    padding-left: 15px;
  
    color: #FA3701;
    font-family: "rift-soft", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: large;
    text-align: left;

    font-family: 'nunito-sans', sans-serif;
    font-weight: 700;
    font-style: normal;
  
  
    background-color: #FCF6EA;
    border: 4px #FA3701 solid;
    border-radius: 15px;
}

.ProfilePanel_container__vYuzq button {
    margin-left: 5px;
    height: 60px;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    
    color: #FA3701;
    font-family: "rift-soft", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
    text-align: left;
    
    background-color: #FCF6EA;
    border: 4px #FA3701 solid;
    border-radius: 15px;

   
}

.ProfilePanel_secondrow__ObuI4 :nth-child(2) {
    margin-left: 5px;
}

@media (max-width: 700px) {

    .ProfilePanel_secondrow__ObuI4 :nth-child(2) {
        margin-left: 10px;
    }
  }

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/Header.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__MvnS2 {
    display: flex;
    align-items: center;
    width: 100%;
}

.Header_header__MvnS2 > button {
    margin: 20px;
    height: 140px;
    width: 120px;
  
    background-color: #FCF6EA;
    border: 4px #FA3701 solid;
    border-radius: 15px;
    box-shadow: 8px -8px 0px #FA3701;
}
  
.Header_header__MvnS2 > button:focus {
    outline: none;
    animation: Header_diagonal-motion___wzhE 0.1s steps(10);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.Header_header__MvnS2 > button:not(focus) {
    animation: Header_diagonal-motion-blur__YgYR1 0.1s steps(10);
    outline: none;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.Header_buttongroup__L4P09 {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;

}

.Header_buttongroup__L4P09 input {

  height: 50px;
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;

  color: #FA3701;
  font-family: "rift-soft", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: x-large;
  text-align: left;


  background-color: #FCF6EA;
  border: 4px #FA3701 solid;
  border-radius: 15px;
}

.Header_buttongroup__L4P09 button {
    margin: 8px 0px 4px 0px;
    height: 60px;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;

    color: #FA3701;
    font-family: "rift-soft", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: x-large;
    text-align: left;

    background-color: #FCF6EA;
    border: 4px #FA3701 solid;
    border-radius: 15px;
}

.Header_buttongroup__L4P09 button a {
  text-decoration: none;
  color: inherit;
}

.Header_buttongroup__L4P09:first :hover {
  background-color: #FA3701;
  color: #FCF6EA;
}

.Header_buttongroup__L4P09 :nth-child(1) {
    margin-top: 0px;
}
  
@keyframes Header_diagonal-motion___wzhE {
    0% {
      transform: translate(0, 0);
  
    }
    100% {
      transform: translate(8px, -8px);  
      box-shadow: 0px 0px 0px #FA3701;
  
    }
  }
  
@keyframes Header_diagonal-motion-blur__YgYR1 {
    100% {
      transform: translate(0, 0);
  
    }
    0% {
      transform: translate(8px, -8px);  
      box-shadow: 0px 0px 0px #FA3701;
  
    }
  }
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/Facts.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Facts_container__TOI7i {
  max-width: calc(100dvw - 1rem);
}

.Facts_container__TOI7i h1 {
  font-weight: 600;
  margin: 30px;
  margin-top: 10px;
  line-height: 1.1;
  color: #FA3701;
}

.Facts_bottombar__BG2pJ {
  display: flex;
  width: max-content;
  max-width: calc(100dvw - 1rem);
}

.Facts_bottombar__BG2pJ > div {
  display: flex;
  align-items: center;

  margin: 20px;
  padding: 20px;
  width: 800px;

  background-color: #FCF6EA;
  border: 4px #FA3701 solid;
  border-radius: 15px;
  box-shadow: 8px -8px 0px #FA3701;

  font-family: "rift-soft", sans-serif;
  font-weight: 500;

  line-height: 1;
}

.Facts_fact__z8Xj0 {
  width: 100%;
  display: flex;
  font-size: xx-large;
  flex-direction: column;
  line-height: 1.3;
}

.Facts_loading__JCLjZ {
  animation: Facts_flash___QrlS 2s infinite;
  width: 100%;
  display: flex;
  font-size: xx-large;
  flex-direction: column;
  line-height: 1.3;
  color: #FA3701;
  font-weight: 600;
}


.Facts_fact__z8Xj0 :nth-child(1) {
  color: #FA3701;
  font-weight: 600;
}

.Facts_fact__z8Xj0 :nth-child(2) {
  color: rgb(255, 168, 38);

  padding-top: 10px;
  font-size: x-large;
}
 
.Facts_bottombar__BG2pJ button {
  margin: 20px;
  height: 140px;
  width: 120px;

  background-color: #FCF6EA;
  border: 4px #FA3701 solid;
  border-radius: 15px;
  box-shadow: 8px -8px 0px #FA3701;
}

.Facts_bottombar__BG2pJ button img {
  pointer-events: none;

}

.Facts_bottombar__BG2pJ button:hover {
  animation: Facts_diagonal-motion__46tdn 0.1s steps(10);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Facts_bottombar__BG2pJ button:not(focus) {
  animation: Facts_diagonal-motion-blur__bhOEB 0.1s steps(10);
  outline: none;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Facts_bottombar__BG2pJ input {
  margin: 0;
  padding: 0;
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;

  font-family: "rift-soft", sans-serif;
  font-weight: 600;
  font-size: xx-large;

  color: #FA3701;
  width: 800px;
  overflow-x: scroll;
}

.Facts_bottombar__BG2pJ input::placeholder {
  color: #fa3701af;
}

.Facts_cta__OxEwu {
  font-family: 'nunito-sans', sans-serif;
  font-weight: 700;
  font-size: x-large;

  position: absolute;
  color: #FA3701;

  font-size: x-large;
  bottom: -5%;
}

.Facts_cta__OxEwu span {
  color: rgb(255, 168, 38);
}


@keyframes Facts_diagonal-motion__46tdn {
  0% {
    transform: translate(0, 0);

  }
  100% {
    transform: translate(8px, -8px);  
    box-shadow: 0px 0px 0px #FA3701;

  }
}

  
@keyframes Facts_diagonal-motion-blur__bhOEB {
  100% {
    transform: translate(0, 0);

  }
  0% {
    transform: translate(8px, -8px);  
    box-shadow: 0px 0px 0px #FA3701;

  }
}

@keyframes Facts_flash___QrlS {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}


